* {
    list-style: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: azure;
    background-image: url("background.jpg");
}

header {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 75px;
    line-height: 75px;
    background: darkslategrey;
}

nav .nav-name {
    color: white;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
    transition-duration: 1s;
}

nav .nav-name:hover {
    transform: rotateY(30deg);
}

nav .nav-list {
    display: flex;
}

nav .nav-list .nav-item {
    font-size: larger;
    cursor: pointer;
    height: 100%;
    padding: 0 20px;
    transition-duration: 0.5s;
}

nav .nav-list .nav-item:hover {
    background: aquamarine;
}

nav .nav-list .nav-link {
    color:white;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 2rem;
    }
    nav .nav-list .nav-item {
        padding: 0 20px;
    }
}

@media (max-width: 675px) {
    nav .nav-list {
        display: grid;
        position: absolute;
        background: darkcyan;
        width: 100%;
        top: 59px;
        left: 0;
        /* transform: translateY(-100%);
        z-index: -1; */
        visibility: hidden;
        transition: 1s;
    }
    nav .nav-list .nav-item {
        padding-left: 10px;
    }
    nav .nav-toggler {
        display: grid !important;
    }
}

nav .nav-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
}

nav .nav-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    border-radius: 10%;
    transition: 0.5s;
    background: white;
}

input {
    display: none;
}

input:checked ~ nav .nav-list {
    /* transform: translateY(0); */
    visibility: visible;
}

input:checked ~ nav .nav-toggler {
    margin-top: 15px;
    transition: 1s;
}

input:checked ~ nav .nav-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

input:checked ~ nav .nav-toggler .bar:nth-child(2) {
    display: none;
}

input:checked ~ nav .nav-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 7%;
}

h2 {
    text-align: center;
}

.basic_info {
    display: grid;
    grid-template-rows: 25%, 25%, 25%, 25%;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    width: 100%;
    margin-bottom: 7%;
}

picture {
    /* filter : contrast(.8); */
    grid-area: 1 / 4 / 5 / 4;
}

aside {
    grid-area: 2 / 5 / 4 / 7;
    font-size: 1rem;
}

aside p {
    font-size: large;
    font-weight: bold;
}

hr {
    width: 100%;
}

.intro_text {
    padding: 0% 20%;
    margin-bottom: 5%;
}

.introduction {
    margin-bottom: 10%;
}

.education {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.college {
    text-align: center;
    float: left;
}

.course {
    float: right;
}

.course h3 {
    text-align: center;
}

footer {
    background-color: rgb(234, 241, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    column-width: 300px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}